*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(house-6.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.nav-links li{
    list-style:none;
    display: inline-block;
    padding-top: 5px;
    margin: 10px;
    font-size: 18px;
}

.nav-links li a{
    text-decoration: none;
    color:#fff;
} 

.register-btn{
    background: #fff;
    color:#000;
    padding:8px 20px;
    border-radius:20px;
    text-decoration: none;
    font-size: 18px;

}


.container{
    padding: 0 7%;
}

.header h1{
    font-size:4vw;
    font-weight: 500;
    color:#fff;
    text-align: center;
    padding-top: 18%;
}

.search-bar{
    background:#fff;
    width: 70%;
    margin:30px auto;
    padding:6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-bar form input{
    display: block;
    border: 0;
    outline:none;
    background: transparent;
}
.search-bar button{
    font-size: 1.5rem;
    border:0;
    outline: none;
    background: transparent;
    padding-left: 30px;
} 
/* .search-bar button i{
    margin: 8px;
} */

/* listing page design starts*/




.navbar-white{
    background:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.navbar-white .nav-links li a{
    color:#000;
}

.navbar-white .register-btn{
    background: #000;
    color:white;
}

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col{
    flex-basis: 70%;
}

.right-col{
    flex-basis: 25%;
}

.left-col h1{
    color:#333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:30px 0;
    border-top:1px solid #ccc;
}
.house-img img{
    width:300px;
    height:200px;
    border-radius: 12px;
}

.house-img{
    flex-basis:40%;
}

.house-info{
    flex-basis: 58%;
}

.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}

.house-price span{
    font-size: 16px;
    font-weight: 500;
}

.sidebar{
    border:1px solid #999;
    padding:20px 30px;
    margin-top:30px; 
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin:20px 0 10px;
}

.filter{
    display:flex;
    align-items: center;
    color:#555;
}

.filter p{
    flex:1;
    padding-top: 15px;
}

.filter input{
    margin-right:10px;
    cursor: pointer;
}

/* listing page design ends */
/* registration form design start */
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }




/* registration form design ends */



@media only screen and (max-width:700px){

   
  .left-col,.right-col,.house-img,.house-info{
      flex-basis: 100%;
  }
 
} 