{% extends 'base.html' %} {% block body %}


<div class="list-container">
    <div class="left-col">
        <p>
            200+ Options
        </p>
        <h1>Recommended Places</h1>
        <div class="house">
            <div class="house-img">
                <img src="static/css/homepage.jpg">
            </div>
            <div class="house-info">
                <p>Private Villa in Dhandondi</p>
                <h3>Delux Queen Room</h3>
                <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
            </div>
        </div>

    </div>

</div>


{% endblock body %}